# Traefik Environment Variables Example
# Rename this file to .env and replace the values below

# Basic Environment
TZ=UTC

# Domain Configuration
DOMAINNAME=example.com

# Let's Encrypt (Email)
ACME_EMAIL=your-email@example.com

# Cloudflare DNS API (For Chapter 05 & Wildcards)
# CF_API_EMAIL=your-cloudflare-email@example.com
# CF_API_KEY=your-global-api-key
